[user]
    name = Zois Tasoulas
    email =

[alias]
    br = branch
    c = commit
    co = checkout
    df = diff
    lg = log --decorate --oneline --graph --all
    st = status

[color]
    ui = auto

[core]
    editor = vim

[filter "lfs"]
    clean = git-lfs clean -- %f
    process = git-lfs filter-process
    required = true
    smudge = git-lfs smudge -- %f

[merge]
    conflictstyle = diff3
    tool = vimdiff

[mergetool]
    keepBackup = false
    prompt = false
